
body {
	background-color: #666;
}

.col-md-4 {
	background: #e3e3e3;
	border: 1px solid #666;
	float: left;
	width: 33%;
	text-align: center;
}
.col-md-8 {
	background: #e3e3e3;
	border: 1px solid #666;
	float: right;
	width:66%;
	text-align: center;
}


.username {
color: blue;
}