header, aside, nav, div article {
	display: block;
}

body {
	background-color: #797BFF;
	font-family: Georgia, times, serif;
	line-height: 1.4em;
	margin-top: 0;
	padding: 0;
}


article {
	background-color: #E4E874;
	clear: both;
	overflow: auto;
	width: 100%;
	font-size: 1em;
	border: #FFBC73 solid;
	margin: 5px;
}

aside {
	width: 230px;
	float: left;
	padding: 0px 0px 0px 20px;
}

.navbar-wittier {

}

.container {
	width: 100%;
	height: 100%;
}

